body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
html, body, #root, .app {
  height: 100%;
  width: 100%;
}
.page-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.page-side-bar,
.page-content {
  height: 100%;
}
.page-side-bar {
  background: black;
  flex: 0 0 300px;
}

.page-content {
  flex: 1 1 auto;
  overflow: auto;
  background: #f3f3f3;
}

.app-title {
  height: 50px;
  width: 200px;
  margin: 20px 50px;
  text-align: center;
  letter-spacing: 5px;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  font-size: 26px;
  font-family: 'Pacifico', cursive;
  line-height: 35px;
  padding: 5px 10px;
  color: #333;
  z-index: 3;
  color: white;
  text-shadow: 0 0 2px black;
}
  .app-title a {
    color: white;
    text-decoration: none;
  }

.category-list a {
  display: block;
  text-align: left;
  margin: 10px 0;
  padding-left: 50px;
  box-sizing: border-box;
  /* padding: 0px; */
  font-size: 20px;
  letter-spacing: 5px;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 2px rgba(0,0,0, 0.8);
}

.btn {
  border-radius: 13px;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 3px 6px;
  background: white;
  height: 26px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

/* Loader */
.load-wrapper {
  position: relative;
  
}
  .load-wrapper .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: background 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .load-wrapper .loader.loading {
    background: rgba(255,255,255,0.6);
    visibility: visible;
  }

/* Pages */
.page-index,
.page-category,
.page-create-post,
.page-post {
  padding: 0 20px;
  height: 100%;
}

/* Component: Post */
.post-wrapper {
  padding: 0;
  padding-top: 20px;
}
.post-inner {
  background: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.post-title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 15px 0;
}
.post-title a { 
  color: #333;
  display: block;
  text-decoration: none;
}

.post-meta {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: space-between;
}

  .post-date {
    /* flex: 1 1 auto; */
    text-align: right;
    font-size: 12px;
    color: #888;
  }

  .post-author {
    /* flex: 1 1 100px; */
  }

.post-content {
  margin: 20px 0;
}

  .post-score span {
    display: inline-block;
    box-sizing: border-box;
    width: 35px;
    text-align: center;
    font-size: 24px;
    padding: 0 5px;
    font-family: 'Pacifico', cursive;
  }
  .post-score .btn i {
    font-size: 20px;
    color: #333;
  }

  .post-meta .post-comments {
    position: relative;
    flex: 0 0 250px;
    display: flex;
  }

    .post-meta .post-comments .btn {
      font-size: 14px;
      white-space: nowrap;
      margin-left: 10px;
      align-self: flex-end;
      color: #333;
    }
      .post-meta .post-comments .btn i {
        margin-right: 4px;
      }

.empty-post-message {
  background: white;
  padding: 10px 20px;
  text-align: center;
}
/*  */

#comments {
  border-top: 2px dashed #888;
  background: white;
}
/* Component: Comment */
.comment-wrapper {
  padding: 0;
  padding-top: 0;
}
.comment-inner {
  background: white;
  padding: 10px;
  box-shadow: inset 0 0px 1px rgba(0,0,0,0.3);
}

.comment-meta {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: space-between;
}

  .comment-date {
    /* flex: 1 1 auto; */
    text-align: right;
    font-size: 12px;
    color: #888;
  }

  .comment-author {
    /* flex: 1 1 100px; */
  }

.comment-body {
  display: flex;
}

.comment-edit {
  padding-top: 5px;
}
  .comment-edit textarea {
    border: 1px solid #ddd;
    width: 100%;
    height: 100p;
  }
  .comment-edit button {
    margin: 0 2px;
  }

  .comment-content {
    margin: 5px;
    margin-top: 10px;
    font-size: 14px;
    flex: 1 1 auto;
  }
  .comment-body .post-score {
    flex: 0 0 100px;
  }

    .comment-body .post-score span {
      padding: 0 5px;
      width: 28px;
      font-size: 20px;
    }
    .comment-body .post-score .btn i {
      font-size: 16px;
      color: #333;
    }
  .comment-actions {
    flex: 0 0 65px;
  }
    .comment-actions .btn {
      margin: 0 2px;
    }


/* Component: CommentPoster */
.comment-poster {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
  .comment-poster label {
    display: block;
    margin: 3px 0;
  }
  .comment-poster textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
  }
  .comment-poster button {
    width: 100%;
    background: white;
  }

/* Component: PostSort */
.post-sort {
  padding-top: 20px;
}
.post-sort > * {
  padding: 3px;
  font-size: 14px;
  border: 1px solid #ddd;
  background: white;
  color: #999;
  font-weight: normal;
  box-sizing: border-box;
}
.post-sort button {
  cursor: pointer;
}

.post-sort span {
  color: #000;
  border: 1px solid #666;
}

/* Container: Create Post Wrapper */
.create-post-wrapper {
  display: flex;
  flex-direction: column;
}
  .create-post-wrapper label{
    display: flex;
    flex-direction: row;
  }
    .create-post-wrapper label span{
      flex: 0 0 100px;
      margin: 10px 0;
    }
    .create-post-wrapper label select,
    .create-post-wrapper label input,
    .create-post-wrapper label button,
    .create-post-wrapper label textarea { 
      flex: 1 1 auto;
      height: 25px;
      font-size: 16px;
      margin: 10px 0;
    }
    .create-post-wrapper label textarea { 
      height: 200px;
    }
  .create-post-wrapper label button {
    float: right;
  }


.btn.create-post {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  color: #333;
}

